html,
body {
    height: 100%;
}

.container,
.container-fluid {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

.btn-blurple {
    background-color: $discord-blurple;
    border-color: darken($discord-blurple, 1%);
    color: white;

    &:hover {
        color: white;
        background-color: darken($discord-blurple, 10%);
        border-color: darken($discord-blurple, 10%);
    }
}
