<app-card [title]="'Seznam notifikací'" [icon]="'fas fa-bell'">
    <app-data-list #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <ng-container *ngIf="list.isDataLoaded">
            <app-card *ngIf="list.isEmpty" [header]="false" [classes]="['mb-3']">
                <h6 class="mb-0">Pro zadaný filtr nebyly nalezeny žádné položky.</h6>
            </app-card>

            <table class="table table-sm table-bordered" *ngIf="!list.isEmpty">
                <thead>
                    <tr>
                        <th style="width: 150px" sortable [key]="'id'" [current]="sortBy" [sortDesc]="sortDesc" (clicked)="setSort($any($event))">#
                        </th>
                        <th sortable [key]="'fromUser'" [current]="sortBy" [sortDesc]="sortDesc" (clicked)="setSort($any($event))">Odesílatel</th>
                        <th sortable [key]="'toUser'" [current]="sortBy" [sortDesc]="sortDesc" (clicked)="setSort($any($event))">Příjemce</th>
                        <th sortable [key]="'at'" [current]="sortBy" [sortDesc]="sortDesc" (clicked)="setSort($any($event))">Oznámit v</th>
                        <th style="width: 150px" sortable [key]="'postpone'" [current]="sortBy" [sortDesc]="sortDesc"
                            (clicked)="setSort($any($event))">
                            Odloženo</th>
                        <th style="width: 100px">Oznámeno</th>
                        <th style="width: 200px">Akce</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list.items">
                        <td>{{item.id}}</td>
                        <td>{{item.fromUser?.fullUsername}}</td>
                        <td>{{item.toUser?.fullUsername}}</td>
                        <td>{{item.at.toLocaleString()}}</td>
                        <td>{{item.postpone}}</td>
                        <td>{{item.notified | czechBooleanPipe}}</td>
                        <td>
                            <list-button (clicked)="showMessage(item)" title="Zobrazit zprávu" icon="info"></list-button>
                            <list-button (clicked)="cancel(item, false)" title="Stornovat" icon="window-close" *ngIf="!item.notified"></list-button>
                            <list-button (clicked)="cancel(item, true)" title="Předčasně oznámit" icon="bullhorn" *ngIf="!item.notified">
                            </list-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </app-data-list>
</app-card>
