<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [size]="'md'">
    <form [formGroup]="form">
        <div class="row">
            <div class="col form-group">
                <label>Server</label>
                <select formControlName="guild" class="form-control" *ngIf="guilds">
                    <option [ngValue]="null">Nevybráno</option>
                    <option [ngValue]="guild.key" *ngFor="let guild of guilds">{{guild.value}}</option>
                </select>
            </div>

            <div class="col form-group">
                <label>Kanál</label>
                <select class="form-control" formControlName="channel">
                    <option [ngValue]="null">Nevybráno</option>
                    <ng-container *ngIf="channels">
                        <option [ngValue]="channel.key" *ngFor="let channel of channels">{{channel.value}}</option>
                    </ng-container>
                </select>
            </div>

            <div class="col form-group">
                <label>Uživatel</label>
                <select class="form-control" formControlName="processedUser">
                    <option [ngValue]="null">Nevybráno</option>
                    <option [ngValue]="user.key" *ngFor="let user of users">{{user.value}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                <label>Zapsáno od</label>
                <input type="datetime-local" class="form-control" formControlName="createdFrom" />
            </div>

            <div class="col form-group">
                <label>Zapsáno do</label>
                <input type="datetime-local" class="form-control" formControlName="createdTo" />
            </div>

            <div class="col form-group">
                <label>&nbsp;</label>
                <app-checkbox [id]="'ignore-bots'" formControlName="ignoreBots" [label]="'Ignorovat operace provedené boty'"></app-checkbox>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col form-group">
                <label>Typy operací</label>
                <checkbox-bitmask [options]="types" formControlName="types"></checkbox-bitmask>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-end align-content-end">
                <button class="btn btn-danger" type="button" (click)="reset()">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>
