app-card {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 400px;

    & p {
        margin: 0;
    }

    & .box {
        border-top: 1px solid lightgray;
        margin-top: 10px;

        &:last-child {
            border-bottom: 1px solid lightgray;
        }

        & .badge-list .badge {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}
