<div class="mt-3">
    <app-loading *ngIf="!profiles"></app-loading>
</div>

<div class="d-flex flex-wrap m-3" *ngIf="profiles && profiles.length > 0">
    <ng-container *ngFor="let profile of profiles">
        <ng-container *ngTemplateOutlet="unverifyCard;context:{unverify: profile}"></ng-container>
    </ng-container>
</div>

<div class="row mt-5 ml-0 mr-0" *ngIf="profiles && profiles.length === 0">
    <div class="col d-flex justify-content-center">
        <h1 class="fw-normal">Momentálně nikde nemáš odebraný přístup.</h1>
    </div>
</div>

<ng-template #unverifyCard let-unverify="unverify">
    <app-card [header]="false">
        <p class="badge bg-dark" *ngIf="unverify.isSelfUnverify">Selfunverify</p>

        <p>Začátek: <b>{{unverify.start.binding}}</b></p>
        <p>Konec: <b>{{unverify.end.binding}}</b></p>
        <p>Konec za: <b>{{unverify.endTo}}</b></p>

        <div class="box" *ngIf="unverify.rolesToKeep && unverify.rolesToKeep.length > 0">
            <h5>Ponechané role</h5>
            <div class="d-flex flex-wrap">
                <span class="badge" *ngFor="let role of unverify.rolesToKeep" [style.background-color]="role.color">{{role.name}}</span>
            </div>
        </div>

        <div class="box" *ngIf="unverify.rolesToRemove && unverify.rolesToRemove.length > 0">
            <h5>Odebrané role</h5>
            <div class="d-flex flex-wrap badge-list">
                <span class="badge" *ngFor="let role of unverify.rolesToRemove" [style.background-color]="role.color">{{role.name}}</span>
            </div>
        </div>

        <div class="box" *ngIf="unverify.channelsToKeep && unverify.channelsToKeep.length > 0">
            <h5>Ponechané kanály</h5>
            <div class="d-flex flex-wrap badge-list">
                <span class="badge bg-dark" *ngFor="let channel of unverify.channelsToKeep">{{resolveChannelName(channel)}}</span>
            </div>
        </div>

        <div class="box" *ngIf="unverify.channelsToRemove && unverify.channelsToRemove.length > 0">
            <h5>Odebrané kanály</h5>
            <div class="d-flex flex-wrap badge-list">
                <span class="badge bg-dark" *ngFor="let channel of unverify.channelsToRemove">{{resolveChannelName(channel)}}</span>
            </div>
        </div>

        <div class="btn-group mt-2" *ngIf="!unverify.isSelfUnverify">
            <button class="btn btn-outline-primary" (click)="showReason(unverify)">Důvod</button>
        </div>
    </app-card>
</ng-template>
