<div class="row ml-0 mr-0 mt-2">
    <div class="col">
        <app-card [title]="'Vytvořit oprávnění'" [icon]="'fas fa-user-plus'" [size]="'md'">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Příkaz</label>
                            <select class="form-control" formControlName="command">
                                <option [ngValue]="null">Nevybráno</option>
                                <option [ngValue]="command" *ngFor="let command of commands">{{command}}</option>
                            </select>
                            <span class="text-danger" *ngIf="hasError('command')">
                                <small *ngIf="hasError('command', 'required')">Výběr příkazu je povinný.</small>
                            </span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <app-checkbox formControlName="isRole" [label]="'Oprávnění patří k roli'"></app-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col" *ngIf="isRole">
                        <label>Role</label>
                        <select class="form-control" formControlName="role">
                            <option [ngValue]="null">Nevybráno</option>
                            <option [ngValue]="role.key" *ngFor="let role of roles">{{role.value}}</option>
                        </select>
                        <span class="text-danger" *ngIf="hasError('role')">
                            <small *ngIf="hasError('role', 'required')">Výběr role je povinný.</small>
                        </span>
                    </div>

                    <div class="col" *ngIf="!isRole">
                        <label>Uživatel</label>
                        <select class="form-control" formControlName="user">
                            <option [ngValue]="null">Nevybráno</option>
                            <option [ngValue]="user.key" *ngFor="let user of users">{{user.value}}</option>
                        </select>
                        <span class="text-danger" *ngIf="hasError('user')">
                            <small *ngIf="hasError('user', 'required')">Výběr uživatele je povinný.</small>
                        </span>
                    </div>

                    <div class="col">
                        <label>Stav</label>
                        <select class="form-control" formControlName="state">
                            <option [ngValue]="state.key" *ngFor="let state of states">{{state.value}}</option>
                        </select>
                    </div>

                    <div class="col-1 d-flex align-items-end justify-content-end">
                        <button class="btn btn-success" type="submit" [disabled]="form.invalid">Uložit</button>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>
