.row .col .btn {
    margin-right: 10px;
}

.log-data-row {
    & .alert {
        margin-bottom: 0;
        margin-top: 10px;
        white-space: pre-wrap;
    }

    & table {
        & pre {
            margin-bottom: 0;
        }
    }
}
