table tr th {
    &.sortable {
        cursor: pointer;

        &.sort-desc,
        &.sort-asc {
            &:after {
                float: right;
            }
        }

        &.sort-desc:after {
            content: "▼";
        }

        &.sort-asc:after {
            content: "▲";
        }
    }
}
