table {
    & tr {
        & th {
            &.sortable {
                cursor: pointer;

                &.sort-desc,
                &.sort-asc {
                    &:after {
                        float: right;
                    }
                }

                &.sort-desc:after {
                    content: "▼";
                }

                &.sort-asc:after {
                    content: "▲";
                }
            }
        }

        & td,
        & th {
            &.auto-width {
                width: 1%;
                white-space: nowrap;
                padding-right: 10px;
            }
        }
    }
}
