<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'">
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Operace</label>
                    <select class="form-control" formControlName="operation">
                        <option [ngValue]="null">Nevybráno</option>
                        <option [ngValue]="operation.key" *ngFor="let operation of operations">{{operation.value}}</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Server</label>
                    <select class="form-control" formControlName="guildId">
                        <option [ngValue]="null">Nevybráno</option>
                        <option [ngValue]="guild.key" *ngFor="let guild of guilds">{{guild.value}}</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Akci provedl</label>
                    <select class="form-control" formControlName="fromUserId">
                        <option [ngValue]="null">Nevybráno</option>
                        <option [ngValue]="user.key" *ngFor="let user of users">{{user.value}}</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Cílový uživatel</label>
                    <select class="form-control" formControlName="toUserId">
                        <option [ngValue]="null">Nevybráno</option>
                        <option [ngValue]="user.key" *ngFor="let user of users">{{user.value}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Vytvořeno (od)</label>
                    <input type="datetime-local" class="form-control" formControlName="createdFrom" />
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Vytvořeno (do)</label>
                    <input type="datetime-local" class="form-control" formControlName="createdTo" />
                </div>
            </div>

            <div class="col-6 d-flex justify-content-end align-items-end">
                <button class="btn btn-danger" (click)="reset()" type="button">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>
