<div class="d-flex justify-content-center">
    <app-loading *ngIf="!data"></app-loading>
</div>

<ng-container *ngIf="data">
    <div class="row ml-0 mr-0 mt-2">
        <div class="col">
            <app-card icon="fas fa-user" [title]="'Informace o uživateli'">
                <div class="row">
                    <div class="col-3 server-pfp">
                        <img width="150" height="150" [src]="data.avatarUrl" [alt]="data.username"
                            class="rounded-circle border border-{{statusColor}}" />
                    </div>

                    <div class="col mt-1">
                        <div class="row">
                            <div keyValueItem class="col-3" [key]="'Identifikátor'" [value]="data.id"></div>
                            <div keyValueItem class="col-3" [key]="'Uživatelské jméno'" [value]="data.username"></div>
                            <div keyValueItem class="col-3" [key]="'Stav'" [value]="statusText"></div>
                            <div keyValueItem class="col-3" [key]="'Aktivní zařízení'"
                                [value]="(data.activeClients.length == 0 ? ['Žádné'] : data.activeClients).join(', ')"></div>
                        </div>

                        <div class="row mt-3">
                            <div class="col flags">
                                <span class="badge bg-{{(data.haveBirthday ? 'success' : 'danger')}}"
                                    title="Uživatel {{(data.haveBirthday ? 'má' : 'nemá')}} uložené datum narození">Narozeniny</span>
                                <span class="badge bg-{{(data.isBotAdmin ? 'success' : 'danger')}}"
                                    title="Uživatel {{(data.isBotAdmin ? 'je' : 'není')}} administrátor bota">BotAdmin</span>
                                <span class="badge bg-{{(data.haveWebAdmin ? 'success' : 'danger')}}"
                                    title="Uživatel {{(data.haveWebAdmin ? 'má' : 'nemá')}} přístup do webové administrace">WebAdmin</span>
                            </div>
                        </div>

                        <div class="row mt-3" *ngIf="!data.isKnown">
                            <div class="col">
                                <div class="alert alert-warning">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    Tento uživatel není na žádném serveru na kterém se nachází GrillBot. Data mohou být neúplná.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>

    <div class="row ml-0 mr-0 mt-3">
        <div class="col">
            <app-user-detail-settings [user]="data" (userUpdated)="onUserUpdated($event)"></app-user-detail-settings>
        </div>
    </div>

    <div class="row ml-0 mr-0 mt-3">
        <div class="col">
            <app-user-detail-guilds [userGuilds]="data.guilds"></app-user-detail-guilds>
        </div>
    </div>

    <div class="row ml-0 mr-0 mt-3 mb-3" *ngIf="data.emotes && data.emotes.length > 0">
        <div class="col">
            <app-user-detail-emotes [emotes]="data.emotes"></app-user-detail-emotes>
        </div>
    </div>
</ng-container>
