<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [size]="'md'">
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Odesílatel</label>
                    <app-search-input [searchSource]="'users'" formControlName="fromUserId"></app-search-input>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Příjemce</label>
                    <app-search-input [searchSource]="'users'" formControlName="toUserId"></app-search-input>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Identifikátor původní zprávy</label>
                    <input type="number" formControlName="originalMessageId" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label>Obsah zprávy</label>
                <input type="text" formControlName="messageContains" class="form-control" />
            </div>

            <div class="col">
                <label>Vytvořeno od</label>
                <input type="datetime-local" formControlName="createdFrom" class="form-control" />
            </div>

            <div class="col">
                <label>Vytvořeno do</label>
                <input type="datetime-local" formControlName="createdTo" class="form-control" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col d-flex align-items-center">
                <app-checkbox [id]="'only-waiting'" formControlName="onlyWaiting" [label]="'Zobrazit pouze neoznámené připomenutí'">
                </app-checkbox>
            </div>
            <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-danger" type="button" (click)="reset()">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>
