<app-card [title]="'Seznam serverů'" [icon]="'fas fa-server'">
    <app-data-list #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <table class="table table-sm table-bordered table-striped" *ngIf="list.isDataLoaded">
            <thead>
                <tr>
                    <th style="width: 250px">ID</th>
                    <th>Název</th>
                    <th style="width: 150px">Počet členů</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items">
                    <td>{{item.id}}</td>
                    <td>
                        {{item.name}}
                        <small class="badge bg-danger" title="Bot není připojen na server" *ngIf="!item.isConnected">Nepřipojen</small>
                    </td>
                    <td>{{item.memberCount}}</td>
                    <td>
                        <list-button link="/admin/servers/{{item.id}}" title="Detail serveru {{item.name}}" icon="info" *ngIf="item.isConnected">
                        </list-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </app-data-list>
</app-card>
