<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [size]="'lg'" [maxWidth]="'1300px'" [allowHideButton]="true">
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Server</label>
                    <app-search-input [searchSource]="'guilds'" formControlName="guildId"></app-search-input>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Typ kanálu</label>
                    <ng-select [bindValue]="'key'" [bindLabel]="'value'" [closeOnSelect]="true" [clearable]="true" [items]="channelTypes"
                        [multiple]="false" [notFoundText]="'Nenalezen žádný typ'" [searchable]="true" formControlName="channelType"></ng-select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Název</label>
                    <input type="text" class="form-control" formControlName="nameContains" />
                </div>
            </div>

            <div class="col-2 d-flex align-items-end justify-content-end">
                <button class="btn btn-danger" (click)="reset()" type="button">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>
