<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/servers', icon:'fa-server', title:'Servery'}"></ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/users', icon:'fa-users', title:'Uživatelé'}"></ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/audit-log', icon:'fa-clipboard-list', title:'Audit log'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/channels', icon:'fa-envelope-open-text', title:'Kanály'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/invites', icon:'fa-user-plus', title:'Pozvánky'}"></ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/permissions', icon:'fa-user-lock', title:'Oprávnění'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/reminder', icon:'fa-bell', title:'Reminder'}"></ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/search', icon:'fa-search', title:'Hledání'}"></ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/internal', icon:'fa-network-wired', title:'Interní'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/unverify', icon:'fa-skull-crossbones', title:'Unverify'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="menuItem; context: {link: '/admin/unverify/logs', icon:'fa-skull-crossbones', title:'Unverify log'}">
                </ng-container>
                <a class="nav-link cursor-ptr" (click)="authService.logout()">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    Odhlásit se
                </a>
            </div>
        </div>
    </nav>
</div>

<ng-template #menuItem let-link="link" let-icon="icon" let-title="title">
    <a class="nav-link" [routerLink]="link" [class.active]="link == activeRoute">
        <div class="sb-nav-link-icon">
            <i class="fas {{icon}}"></i>
        </div>
        {{title}}
    </a>
</ng-template>
