<div class="row ml-0 mr-0 mt-2">
    <div class="col">
        <app-loading *ngIf="!data"></app-loading>

        <app-card [title]="'Statistika kanálů'" *ngIf="data" [icon]="'fas fa-envelope-open-text'">
            <table class="table table-sm table-striped auto-column-width">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Server</th>
                        <th>Kanál</th>
                        <th>Počet zpráv</th>
                        <th>První zpráva</th>
                        <th>Posl. zpráva</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data; let i = index">
                        <td>{{(i + 1)}}.</td>
                        <td>{{row.channel.guild.name ?? 'Neznámý server'}}</td>
                        <td>{{row.channel.name}}</td>
                        <td>{{row.count.toLocaleString()}}</td>
                        <td>{{row.firstMessageAt.binding}}</td>
                        <td>{{row.lastMessageAt.binding}}</td>
                    </tr>
                    <tr *ngIf="data.length === 0">
                        <td colspan="5">Nebyly nalezeny žádné kanály nebo k žádnému kanálu nemáš přístup.</td>
                    </tr>
                </tbody>
            </table>
        </app-card>
    </div>
</div>
