<div class="card {{size}}" [ngClass]="classes" [ngStyle]="{'max-width': maxWidth}">
    <h4 class="card-header" *ngIf="header">
        <div class="d-flex justify-content-between">
            <div>
                <i [class]="icon" *ngIf="icon"></i>
                {{title}}
            </div>

            <button class="btn btn-link" *ngIf="allowHideButton" (click)="toggleVisiblity()">
                <ng-container *ngIf="visible">Skrýt</ng-container>
                <ng-container *ngIf="!visible">Zobrazit</ng-container>
            </button>
        </div>
    </h4>
    <div class="card-body" *ngIf="visible">
        <ng-content></ng-content>
    </div>
</div>
