<app-modal [title]="'Detail záznamu #' + item.id">
    <pre *ngIf="isTextView">{{data}}</pre>

    <table class="table table-sm table-bordered" *ngIf="!isTextView">
        <thead>
            <tr>
                <th>Klíč</th>
                <th *ngIf="!isDiff">Hodnota</th>
                <th *ngIf="isDiff">Hodnota před</th>
                <th *ngIf="isDiff">Hodnota po</th>
            </tr>
        </thead>
        <tbody>
            <ng-container [ngSwitch]="item.type">
                <ng-container *ngSwitchCase="AuditLogItemType.Command">
                    <ng-container *ngTemplateOutlet="command"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="AuditLogItemType.ChannelUpdated">
                    <ng-container *ngTemplateOutlet="channelUpdated"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="AuditLogItemType.OverwriteUpdated">
                    <ng-container *ngTemplateOutlet="overwriteUpdated"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="AuditLogItemType.MemberUpdated">
                    <ng-container *ngTemplateOutlet="memberUpdated"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="AuditLogItemType.MemberRoleUpdated">
                    <ng-container *ngTemplateOutlet="memberUpdated"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="AuditLogItemType.GuildUpdated">
                    <ng-container *ngTemplateOutlet="guildUpdated"></ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</app-modal>

<ng-template #command>
    <tr>
        <td>Příkaz</td>
        <td>{{data.command}}</td>
    </tr>

    <tr>
        <td>Dokončen úspěšně</td>
        <td>{{data.isSuccess | czechBooleanPipe}}</td>
    </tr>

    <ng-container *ngIf="!data.isSuccess">
        <tr>
            <td>Kód chyby</td>
            <td>{{data.commandError}}</td>
        </tr>

        <tr>
            <td>Chybové hlášení</td>
            <td>
                <pre>{{data.errorReason}}</pre>
            </td>
        </tr>
    </ng-container>

    <tr>
        <td>Obsah zprávy</td>
        <td>
            <pre>{{data.messageContent}}</pre>
        </td>
    </tr>
</ng-template>

<ng-template #channelUpdated>
    <tr *ngIf="data.before.name || data.after.name">
        <td>Název</td>
        <td>{{data.before.name}}</td>
        <td>{{data.after.name}}</td>
    </tr>

    <tr *ngIf="data.before.slowMode != undefined || data.after.slowMode != undefined">
        <td>SlowMode (vteřiny)</td>
        <td>{{data.before.slowMode}}</td>
        <td>{{data.after.slowMode}}</td>
    </tr>

    <tr *ngIf="data.before.isNsfw != undefined || data.after.isNsfw != undefined">
        <td>NSFW</td>
        <td>{{data.before.isNsfw | czechBooleanPipe}}</td>
        <td>{{data.after.isNsfw | czechBooleanPipe}}</td>
    </tr>

    <tr *ngIf="data.before.bitrate || data.after.bitrate">
        <td>Bitrate (bps)</td>
        <td>{{data.before.bitrate}}</td>
        <td>{{data.after.bitrate}}</td>
    </tr>
</ng-template>

<ng-template #overwriteUpdated>
    <tr *ngIf="data.before.targetId || data.after.targetId">
        <td>Id cíle</td>
        <td>{{data.before.targetId}}</td>
        <td>{{data.after.targetId}}</td>
    </tr>

    <tr *ngIf="data.before.target != undefined || data.after.target != undefined">
        <td>Typ</td>
        <td>
            <ng-container [ngSwitch]="data.before.target">
                <ng-container *ngSwitchCase="0">Role</ng-container>
                <ng-container *ngSwitchCase="1">Uživatel</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.after.target">
                <ng-container *ngSwitchCase="0">Role</ng-container>
                <ng-container *ngSwitchCase="1">Uživatel</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr *ngIf="data.before.allowValue > 0 || data.after.allowValue > 0">
        <td>Povolená oprávnění:</td>
        <td>{{data.before.allowValue | discordPermsPipe}}</td>
        <td>{{data.after.allowValue | discordPermsPipe}}</td>
    </tr>

    <tr *ngIf="data.before.denyValue > 0 || data.after.denyValue > 0">
        <td>Povolená oprávnění:</td>
        <td>{{data.before.denyValue | discordPermsPipe}}</td>
        <td>{{data.after.denyValue | discordPermsPipe}}</td>
    </tr>
</ng-template>

<ng-template #memberUpdated>
    <tr *ngIf="data.target">
        <td>Cílový uživatel</td>
        <td colspan="2">{{data.target.username}}#{{data.target.discriminator}}</td>
    </tr>
    <tr *ngIf="data.nickname">
        <td>Přezdívka</td>
        <td>{{data.nickname.before}}</td>
        <td>{{data.nickname.after}}</td>
    </tr>
    <tr *ngIf="data.isDeaf">
        <td>Umlčení (vč. poslechu)</td>
        <td>{{data.isDeaf.before | czechBooleanPipe}}</td>
        <td>{{data.isDeaf.after | czechBooleanPipe}}</td>
    </tr>
    <tr *ngIf="data.isMuted">
        <td>Umlčen (mikrofon)</td>
        <td>{{data.isMuted.before | czechBooleanPipe}}</td>
        <td>{{data.isMuted.after | czechBooleanPipe}}</td>
    </tr>
</ng-template>

<ng-template #guildUpdated>
    <tr *ngIf="data.afkChannel">
        <td>AFK kanál</td>
        <td>{{data.afkChannel.before?.name}}</td>
        <td>{{data.afkChannel.after?.name}}</td>
    </tr>
    <tr *ngIf="data.afkTimeout">
        <td>AFK timeout (vteřiny)</td>
        <td>{{data.afkTimeout.before}}</td>
        <td>{{data.afkTimeout.after}}</td>
    </tr>
    <tr *ngIf="data.defaultMessageNotifications">
        <td>Výchozí upozornění</td>
        <td>
            <ng-container [ngSwitch]="data.defaultMessageNotifications.before">
                <ng-container *ngSwitchCase="0">Všechny zprávy</ng-container>
                <ng-container *ngSwitchCase="1">Pouze označení</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.defaultMessageNotifications.after">
                <ng-container *ngSwitchCase="0">Všechny zprávy</ng-container>
                <ng-container *ngSwitchCase="1">Pouze označení</ng-container>
            </ng-container>
        </td>
    </tr>
    <tr *ngIf="data.description">
        <td>Popis</td>
        <td>{{data.description.before}}</td>
        <td>{{data.description.after}}</td>
    </tr>
    <tr *ngIf="data.vanityUrl">
        <td>Vanity URL</td>
        <td>{{data.vanityUrl.before}}</td>
        <td>{{data.vanityUrl.after}}</td>
    </tr>
    <tr *ngIf="data.voiceRegionId">
        <td>Hlasová oblast</td>
        <td>{{data.voiceRegionId.before}}</td>
        <td>{{data.voiceRegionId.after}}</td>
    </tr>
    <tr *ngIf="data.owner">
        <td>Vlastník serveru</td>
        <td>{{data.owner.before?.username}}#{{data.owner.before?.discriminator}}</td>
        <td>{{data.owner.after?.username}}#{{data.owner.after?.discriminator}}</td>
    </tr>
    <tr *ngIf="data.publicUpdatesChannel">
        <td>Kanál na novinky</td>
        <td>{{data.publicUpdatesChannel.before?.name}}</td>
        <td>{{data.publicUpdatesChannel.after?.name}}</td>
    </tr>
    <tr *ngIf="data.rulesChannel">
        <td>Kanál s pravidly</td>
        <td>{{data.rulesChannel.before?.name}}</td>
        <td>{{data.rulesChannel.after?.name}}</td>
    </tr>
    <tr *ngIf="data.systemChannel">
        <td>Systémový kanál</td>
        <td>{{data.systemChannel.before?.name}}</td>
        <td>{{data.systemChannel.after?.name}}</td>
    </tr>
    <tr *ngIf="data.name">
        <td>Název</td>
        <td>{{data.name.before}}</td>
        <td>{{data.name.after}}</td>
    </tr>
    <tr *ngIf="data.mfaLevel">
        <td>2FA úroveň</td>
        <td>
            <ng-container [ngSwitch]="data.mfaLevel.before">
                <ng-container *ngSwitchCase="0">Vypnuto</ng-container>
                <ng-container *ngSwitchCase="1">Zapnuto</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.mfaLevel.after">
                <ng-container *ngSwitchCase="0">Vypnuto</ng-container>
                <ng-container *ngSwitchCase="1">Zapnuto</ng-container>
            </ng-container>
        </td>
    </tr>
    <tr>
        <td>Změněna ikona</td>
        <td colspan="2">{{data.iconChanged | czechBooleanPipe}}</td>
    </tr>
    <tr>
        <td>Změněno pozadí pozvánky</td>
        <td colspan="2">{{data.splashChanged | czechBooleanPipe}}</td>
    </tr>
    <tr>
        <td>Změněno komunitní pozadí</td>
        <td colspan="2">{{data.discoverySplashChanged | czechBooleanPipe}}</td>
    </tr>
    <tr>
        <td>Změnen banner</td>
        <td colspan="2">{{data.bannerChanged | czechBooleanPipe}}</td>
    </tr>
</ng-template>
