<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [size]="'sm'">
    <form [formGroup]="form" class="row">
        <div class="col">
            <div class="form-group">
                <label>Vyhledávání v názvu</label>
                <input type="text" formControlName="nameQuery" class="form-control" />
            </div>
        </div>

        <div class="col d-flex align-items-end justify-content-end">
            <label>&nbsp;</label>
            <button class="btn btn-danger" (click)="reset()" type="button">Smazat filtr</button>
        </div>
    </form>
</app-card>
