<app-card [title]="'Statistika příkazů'" [icon]="'fas fa-terminal'">
    <app-loading *ngIf="!data"></app-loading>

    <table *ngIf="data" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th class="auto-width">Příkaz</th>
                <th>Poslední volání</th>
                <th>Počet úspěšných</th>
                <th>Počet chybných</th>
                <th>Úspěšnost</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td class="auto-width">{{item.command}}</td>
                <td>{{item.lastCall.toLocaleString()}}</td>
                <td>{{item.successCount}}</td>
                <td>{{item.failedCount}}</td>
                <td>{{item.successRate}} %</td>
            </tr>
        </tbody>
    </table>
</app-card>
