<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-2">GrillBot | Veřejná administrace</h3>
                            </div>
                            <div class="card-body d-flex justify-content-center">
                                <button class="btn btn-block btn-blurple" (click)="startSession()">
                                    <i class="fab fa-discord mr-2"></i> Přihlásit přes Discord
                                </button>
                            </div>
                            <div class="card-footer text-center py-3 text-danger" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
