.d-flex app-card {
    margin-right: 10px;
}

.emotes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

@media (max-width: 1100px) {
    .emotes-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .emotes-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .emotes-grid {
        grid-template-columns: 1fr;
    }
}
