<app-card [title]="'Statistika emotikonů'" icon="fas fa-icons" [allowHideButton]="true">
    <div class="emotes-grid">
        <app-card [header]="false" *ngFor="let emote of emotes">
            <div class="row">
                <div class="col-3">
                    <img [src]="emote.imageUrl" width="64" height="64" [alt]="emote.name" />
                </div>

                <div class="col d-flex flex-column">
                    <b>{{emote.name}}</b>
                    <span>Použito: {{emote.useCount}}x</span>
                    <span>Poprvé: {{emote.firstOccurence.toLocaleString()}}</span>
                    <span>Naposledy: {{emote.lastOccurence.toLocaleString()}}</span>
                </div>
            </div>
        </app-card>
    </div>
</app-card>
