<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [size]="'md'">
    <form [formGroup]="form">
        <div class="row">
            <div class="col form-group">
                <label>Uživatelské jméno</label>
                <input type="text" formControlName="username" class="form-control" />
            </div>

            <div class="col form-group">
                <label>Server</label>
                <app-search-input formControlName="guild" [searchSource]="'guilds'"></app-search-input>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label>Vybrat uživatele, kteří splňují</label>
                <checkbox-bitmask [options]="flagsMask" formControlName="flags"></checkbox-bitmask>
            </div>

            <div class="col-2 d-flex align-items-end justify-content-end">
                <button class="btn btn-danger" type="button" (click)="reset()">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>
