<app-card [title]="'Nastavení uživatele'" [allowHideButton]="true" icon="fas fa-user-cog">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-5">
                <div class="checkboxes-group">
                    <app-checkbox title="Administrátor obdrží plná práva nad GrillBot." [id]="'bot-admin'" [label]="'Administrátor'"
                        formControlName="botAdmin"></app-checkbox>
                    <app-checkbox title="Přístup do webové administrace" [id]="'web-admin'" [label]="'Webová administrace'"
                        formControlName="webAdmin"></app-checkbox>
                </div>
                <label>Poznámka</label>
                <textarea class="form-control" formControlName="note"></textarea>
            </div>

            <div class="col-3">
                <b>Minimální čas pro selfunverify</b>
                <app-time-span-input formControlName="selfUnverifyMinimalTime"></app-time-span-input>
            </div>

            <div class="col d-flex align-items-end justify-content-end">
                <button class="btn btn-success">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>
