<app-card [title]="'Nastavení uživatele'" [allowHideButton]="false" icon="fas fa-user-cog">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-5">
                <label>REST API token</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="apiToken" />
                    <button class="btn btn-outline-primary" type="button" (click)="createNewGuid()">Vygenerovat</button>
                </div>
                <div class="checkboxes-group">
                    <app-checkbox title="Administrátor obdrží plná práva nad GrillBot." [id]="'bot-admin'" [label]="'Administrátor'"
                        formControlName="botAdmin"></app-checkbox>
                    <app-checkbox title="Přístup do webové administrace" [id]="'web-admin'" [label]="'Webová administrace'"
                        formControlName="webAdmin"></app-checkbox>
                </div>
            </div>

            <div class="col-3">
                <b>Minimální čas pro selfunverify</b>
                <app-time-span-input formControlName="selfUnverifyMinimalTime"></app-time-span-input>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-5">
                <label>Poznámka</label>
                <textarea class="form-control" formControlName="note"></textarea>
            </div>

            <div class="col d-flex align-items-end justify-content-end">
                <button class="btn btn-success">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>
